.cc1 {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  position: relative;
  top: 20px;
}

.cc2 {
  width: 40px;
  height: 40px;
  background-color: green;
  display: inline-block;
  position: relative;
  top: 40px;
}
.cc3 {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  position: relative;
  top: 20px;
}
.cc4 {
  width: 40px;
  height: 40px;
  background-color: green;
  display: inline-block;
  position: relative;
  top: 40px;
}
.cc5 {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  position: relative;
  top: 20px;
}
.cc6 {
  width: 40px;
  height: 40px;
  background-color: green;
  display: inline-block;
  position: relative;
  top: 40px;
}
.cc7 {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  position: relative;
  top: 20px;
}
.cc8 {
  width: 40px;
  height: 40px;
  background-color: green;
  display: inline-block;
  position: relative;
  top: 40px;
}
.cc9 {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  position: relative;
  top: 20px;
}
.cc10 {
  width: 40px;
  height: 40px;
  background-color: green;
  display: inline-block;
  position: relative;
  top: 40px;
}
